/* paging */
#paging {
    color: black;
}

/* 링크 파란줄 없애기 */
#deleteLinkCss {
    text-decoration: none;
    color: black;
}

#Container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    width: 500px;
    border-radius: 0.5rem;
}

/* Header */
.ID {
    width: 3.5rem;
    color: black;
}

#header {
    height: 120px;
    background-color: coral;
    color: #A9A9A9;
    
}


#footer {
    height: 120px;
    margin-top: auto;
    background-color: coral
}

#footerIconShop, #footerIconPersonCircle, #footerIconHouseFill {
    font-size: 5rem;
}

/* Main */
.mainImg {
    width: 100%;
    height: 18rem;
    border: .1rem solid;
    font-size: 3rem;
    font-weight: bold;
    background-color: white;
    margin-top: 6rem;
}

.mainReservation {
    
    
    
}

.foodImg {
    height: 30vh;
}

.btn {
    background-color: orange;
    color: black;
    border-color: black;
}

.loginText {
    margin-right: 10.5rem;
    font-size: 2rem;
}

#loginContainer {
    width: 500px;
    margin-top: 9rem;
}

#login {
    font-size: 1rem;
    color:black;
}

.logo_img {
    width: 5rem;
    height: 5rem;
    line-height: 2.5rem;
    margin-top: .6rem;
    border: 0.1rem solid black;

    font-size: 0.9rem;
}

/* navigation.02 */
.Nav02 {
    background-color: coral;
}

/* user.02.js css */
.navigation02 {
    height: 4rem;
}

/* user.06 비밀번호 재설정 */
#pWUpdate {
    width: 22rem;
}

/* Header 로그인후 */
#dropDown {
    white-space: normal;
    width: 15rem;
    height: 5rem;
}

.restaurantImg {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid;
    height: 100%; /* 부모 Col의 높이를 채우도록 설정 */
    height: 15rem;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
  }

.restaurantName {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.restaurantImage {
    height: 300px;
    border: 0.1rem solid;
    margin-top: 1rem;
    position: relative;
  }
  
.restaurantImageContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
  
.textEnd {
    text-align: right;
}
  
.reservationBtn {
    background-color: #FFA500 !important;
    border-color: #FFA500 !important;
}

.mainRestaurantImg {
    border: 0.1rem solid;
    width: 100%;
    margin-top: 3rem;
    height: 20rem;
    align-items: center;
    justify-content: center;
    display: flex;
}

.restaurantImageBox {
    height: 200px;
    background-color: #f8f9fa;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 1px solid #dee2e6;
    margin-bottom: 1rem;
  }
  
.fileUploadButton {

    border: none;
    padding: 0.375rem 0.75rem;
    cursor: pointer;
}
  
.fileUploadButton::-webkit-file-upload-button {
    visibility: hidden;
    width: 0;
}
  
.fileUploadButton::before {
    content: '선택된 파일 없음';
    display: inline-block;
    background: coral;
    color: white;
    border: 1px solid coral;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
}
  
.submitButton, .cancelButton {
    
}
  
.submitButton:hover, .submitButton:focus, .submitButton:active,
.cancelButton:hover, .cancelButton:focus, .cancelButton:active {
    background-color: #ff7f50;
    border-color: #ff7f50;
    color: white;
}
  
.form-control:focus {
    border-color: coral;
    box-shadow: 0 0 0 0.2rem rgba(255, 127, 80, 0.25);
}
  
.form-label {
    font-weight: bold;
}

.restaurantListContainer {
    padding: 20px;
}

.searchContainer {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.searchSelect {
    width: 150px;
    margin-right: 10px;
}

.addRestaurantContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.paginationCenter {
    justify-content: center;
}


/* reservation.01.js css */

.reservationListBtn, .reservationCancelBtn {
    --bs-btn-padding-y: 0.25rem; 
    --bs-btn-padding-x: 1.5rem; 
    --bs-btn-font-size: 1rem;
}
/* reservation.03.js, reservation.Cancel.js css */

.detailBtn {
    --bs-btn-padding-x: 1.5rem;
}
/* reservation.02.js css */

.cancelYesBtn {
    --bs-btn-padding-x: 1.5rem;
}

.cancelNoBtn {
    --bs-btn-padding-x: 0.75rem;
}

/* reservation.Cancel.js css */

.inquiryTitle {
    font-size: 2rem;
}

/* src.page.Navigation.js css */

.custom-pagination .page-link {
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}

.custom-pagination .active {
    font-weight: bold;
    text-decoration: underline;
}

.restaurant-img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: .01rem solid;
  }

.restaurant-text {
    font-weight: bold;
}

#reservationDate, #people {
    font-size: 1.3rem;
}

/* advertisement 01 */

.advertisementImg {
    height: 20rem;
    font-size: 2rem;
    font-weight: bold;
}

/* inquiry */
.inquiryTitle {
    font-size: 2rem;
}
/* inquiry.01.js css */

.inquiryWriter {
    font-size: 1.3rem;
}

.inquiryListBtn, .inquiryCreateBtn, .inquiryUpdateBtn {
    --bs-btn-padding-y: 0.25rem; 
    --bs-btn-padding-x: 1.5rem; 
    --bs-btn-font-size: 1rem;
}

textarea::placeholder {
    line-height: 14rem;
}
/* inquiry.02.js, inquiry.05.js(.inquiryUpdateBtn) css */

.inquiryTitle, .inquiryContent {
    font-size: 1.1rem;
}
/* inquiry.03.js css */

.updateErrorBtn, .deleteErrorBtn {
    --bs-btn-padding-y: 0.25rem; 
    --bs-btn-padding-x: 1.5rem; 
    --bs-btn-font-size: 1rem;
}
/* inquiry.DeleteErrorModal.js, inquiry.UpdateErrorModal.js css */

.deleteYesBtn {
    --bs-btn-padding-x: 1.5rem;
}

.deleteNoBtn {
    --bs-btn-padding-x: 0.75rem;
}
/* inquiry.DeleteBtn.js css */

.inquiryUpdateBtn, .inquiryDeleteBtn {
    --bs-btn-padding-y: 0.25rem; 
    --bs-btn-padding-x: 1.5rem; 
    --bs-btn-font-size: 1rem;
}


.fileUploadButton {
    border: none;
    padding: 0.375rem 0.75rem;
    cursor: pointer;
}
  
.fileUploadButton::-webkit-file-upload-button {
    visibility: hidden;
    width: 0;
}
  
.fileUploadButton::before {
    content: '파일 선택';
    display: inline-block;
    background: coral;
    color: white;
    border: 1px solid coral;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
}
/* admin.Main.js, admin.restaurant.01.js css */

.reservationBtn {
    background-color: #FFA500 !important;
    border-color: #FFA500 !important;
}

.restaurantListContainer {
    padding: 20px;
}

.paginationCenter {
    justify-content: center;
}

.addRestaurantContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.searchContainer {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.searchSelect {
    width: 150px;
    margin-right: 10px;
}
/* admin.restaurant.01.js css */

.restaurantImageBox {
    height: 200px;
    background-color: #f8f9fa;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 1px solid #dee2e6;
    margin-bottom: 1rem;
}

.submitButton, .cancelButton {
    background-color: coral;
    border-color: coral;
    color: white;
}
  
.submitButton:hover, .submitButton:focus, .submitButton:active,
.cancelButton:hover, .cancelButton:focus, .cancelButton:active {
    background-color: #ff7f50;
    border-color: #ff7f50;
    color: white;
}
/* admin.restaurant.02.js css */

.textEnd {
    text-align: right;
}
/* page.restaurant.02.js css */

.loginText {
    margin-right: 10.5rem;
    font-size: 2rem;
}
/* user.01.js.css */

#loginContainer {
    width: 500px;
    margin-top: 9rem;
}
/* user.01.js.css */

#login {
    font-size: 1rem;
    color:black;
}
/* user.01.js css */

#footerIconShop, #footerIconPersonCircle, #footerIconHouseFill {
    font-size: 5rem;
}
/* page.footer.js css */

.logo-img {
    width: 6rem;
    height: 6rem;
    line-height: 2.5rem;
    margin-top: .6rem;
    border: 0.1rem solid black;
    margin-left: 11rem; 
}
/* src.page.Header.js css */

#adminContainer {
    display: flex;
    flex-direction: column;
    width: 800px;
    min-width: 800px; /* 최소 폭 설정 */
    height: 100vh;
    margin: 0 auto;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
}
/* admin.AdminLayout.js css */

#loginContainer {
    margin-top: 9rem;
    width: 500px;
}
/* user.01.js.css */

#adminHeader {
    width: 800px; /* 부모 요소의 너비에 맞추기 */
    height: 5rem;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: white;
    border-bottom: 1px solid black;
}
/* admin.AdminHeader.js css */

#sidebar-wrapper {
    width: 16.8rem;
    height: calc(100vh - 5rem);
    position: fixed;
    top: 5rem;
    left: calc(50% - 400px); /* 중앙 정렬을 위한 left 값 조정 */
    overflow-y: auto;
    overflow-x: hidden;
    border-right: 1px solid black;
}
/* admin.Sidebar.js css */ 

.adminLogoImg {
    border: 1px solid #000;
    width: 100%;
    height: 300px; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
}
/* admin.Main.js css */ 

.adminFoodImg, .adminAdvertiseImg {
    border: 1px solid #000;
    height: 200px; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
}
/* admin.Main.js css */

.gearIcon {
    font-size: 7rem;
}

.float-start {
    display: inline-block;
}
  
.float-start + .float-start {
    margin-left: 10px;
}

.welcome-message {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
/* admin.AdminHeader.js css */

a {
    text-decoration: none;
}

.custom-pagination .page-link {
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}

.custom-pagination .active {
    font-weight: bold;
    text-decoration: underline;
}

.restaurant-img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: .01rem solid;
}

.restaurant-text {
    font-weight: bold;
}

#reservationDate, #people {
    font-size: 1.3rem;
}
/* reservation.01.js css */

.reservationListBtn, .reservationCancelBtn {
    --bs-btn-padding-y: 0.25rem; 
    --bs-btn-padding-x: 1.5rem; 
    --bs-btn-font-size: 1rem;
}
/* reservation.03.js, reservation.Cancel.js css */

.detailBtn {
    --bs-btn-padding-x: 1.5rem;
}
/* reservation.02.js css */

.cancelYesBtn {
    --bs-btn-padding-x: 1.5rem;
}

.cancelNoBtn {
    --bs-btn-padding-x: 0.75rem;
}
/* reservation.Cancel.js css */

.inquiryTitle {
    font-size: 2rem;
}
/* inquiry.01.js css */

.inquiryWriter {
    font-size: 1.3rem;
}

.inquiryListBtn, .inquiryCreateBtn, .inquiryUpdateBtn {
    --bs-btn-padding-y: 0.25rem; 
    --bs-btn-padding-x: 1.5rem; 
    --bs-btn-font-size: 1rem;
}

.writingContent::placeholder {
    line-height: 14rem;
}
/* inquiry.02.js, inquiry.05.js(.inquiryUpdateBtn) css */

.inquiryTitle, .inquiryContent {
    font-size: 1.1rem;
}
/* inquiry.03.js css */

.updateErrorBtn, .deleteErrorBtn {
    --bs-btn-padding-y: 0.25rem; 
    --bs-btn-padding-x: 1.5rem; 
    --bs-btn-font-size: 1rem;
}
/* inquiry.DeleteErrorModal.js, inquiry.UpdateErrorModal.js css */

.deleteYesBtn {
    --bs-btn-padding-x: 1.5rem;
}

.deleteNoBtn {
    --bs-btn-padding-x: 0.75rem;
}
/* inquiry.DeleteBtn.js css */

.inquiryUpdateBtn, .inquiryDeleteBtn, .delAdBtn, 
.fixAdBtn, .backtoAdList, .delReservationBtn,
.submitButton, .cancelButton,
.delMemBtn {
    --bs-btn-padding-y: 0.25rem; 
    --bs-btn-padding-x: 1.5rem; 
    --bs-btn-font-size: 1rem;
}

.navigation02 {
    height: 4rem;
    background-color: coral;
}
/* navigator.02.js css */

#main-content {
    margin-left: 16.8rem; /* 사이드바 너비만큼 마진 */
    margin-top: 5rem; /* 헤더 높이만큼 마진 */
    padding: 1rem;
    width: calc(100% - 16.8rem); /* 남은 너비 */
    height: calc(100vh - 5rem); /* 남은 높이 */
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
}
/* admin.AdminLayout.js css */

#paging {
    color: black;
}

/* admin.Answer */

.adminAnswerCss {
    margin-bottom: 5rem;
}

/* admin.Advertisement */
.shadow-table {
    box-shadow: 0 70px 50px rgba(165, 165, 165, 0.2);
    border-radius: 4px; /* 테두리가 부드럽게 둥글게 만들기 */
    overflow: hidden; /* 둥근 테두리 내에서의 그림자 처리를 위해 */
}

.pagination-container {
    margin-bottom: 0;
}

.search-container {
    margin-top: 0;
}
