# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
### Java ###
# Compiled class file
# Ignore a specific Java class file
김다훈.restaurant/src/main/java/com/my/restaurant/service/userService/Api.java